<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create province</title>
</head>
<body>
<h1>Create province</h1>
<p>
    <a href="/province">Province list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-post}"  method="post">
    <input th:type="hidden" name="id" th:value="${posts.id}" >
    <table>
        <tr>
            <td> Title</td>
            <td><input type="text" name="title" th:value="${posts.title}"></td>
        </tr>
        <tr>
            <td> Content</td>
            <td><input type="text" name="content" th:value="${posts.content}"></td>
        </tr>
        <tr>
            <td> Likes</td>
            <td><input type="text" name="likes" th:value="${posts.likes}"></td>
        </tr>
        <tr>
            <td> CreateAt</td>
            <td><input type="text" name="createAt" th:value="${posts.createAt}"></td>
        </tr>
        <tr>
            <td> <input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>