
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<a href="/create-post">Create new post</a>

<form action="search-post" method="get">
    <input type="text" name="title">
    <input type="submit" value="Search">
</form>

<form action="findTop4" method="get">
    <input type="text" name="">
    <input type="submit" value="SearchTop4">
</form>
<a href="findLike">Search Like</a>


<h1>Post</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Create_At</th>
        <th>Likes</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <th:block th:each="p : ${posts}">
        <tr>
            <td th:text="${p.title}"></td>
            <td th:text="${p.content}"></td>
            <td th:text="${p.likes}"></td>
            <td th:text="${p.createAt}"></td>
            <td><a th:href="@{/edit-post/__${p.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-post/__${p.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>

</body>